* {
    font-family: monospace;
    font-size: 16px;
    font-weight: 600;
}

window#waybar {
    background-color: rgba(23, 23, 23, 0.892);
    border-bottom: 3px solid rgba(74, 74, 74, 0.39);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 16px;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.active {
    color: rgb(106, 158, 255);
    font-weight: 900;
}

#workspaces button.urgent {
    color: #4bebb0;
    font-weight: 900;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: rgba(106, 158, 255, 0.619);
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#wireplumber,
#tray,
#mode,
#idle_inhibitor {
    padding: 0 5px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #45499d;
    border-radius: 30px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#wireplumber {
    color: #e7e7e7;
}

#wireplumber.muted {
    color: rgba(255, 114, 114, 0.604);
}

/*
#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
*/

#idle_inhibitor {
    color: rgba(146, 146, 146, 0.487);
}

#idle_inhibitor.activated {
    color: rgba(255, 255, 255, 0.797);
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 0px;
    margin: 0 0px;
    font-size: 0px;
}

#keyboard-state > label.locked {
    color: rgb(142, 182, 255);
    padding: 0 5px;
    font-size: 16px;
    font-weight: 900;
}
