* {
    font-family: monospace;
    font-size: 16px;
    font-weight: 600;
}

window#waybar,
tooltip {
    color: white;
    background-color: #1B1D20;
    border-radius: 40px;
}

#workspaces,
#clock {
    background-color: #242629;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 4px;
}

#wireplumber,
#tray,
#mode,
#idle_inhibitor {
    margin: 0 3px;
}

#window {
    margin: 0 10px;
}

window#waybar {
    transition-property: background-color;
    transition-duration: 1s;
}

#workspaces button {
    color: rgb(118, 118, 118);
    border-radius: inherit;
}

#workspaces button.active {
    color: rgb(106, 158, 255);
}

#workspaces button.urgent {
    color: rgb(75, 235, 176);
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: 0px 0px 5px white;
    color: white;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

button:hover {
    background: inherit;
}

#wireplumber {
    color: white;
}

#wireplumber.muted {
    color: rgba(255, 114, 114, 0.604);
}

#idle_inhibitor {
    color: rgba(146, 146, 146, 0.487);
}

#idle_inhibitor.activated {
    color: white;
}

#clock {
    color: #6a9eff;
    padding-left: 3px;
}

tooltip {
    border-radius: 10px;
}
